
/* Estilo para celular */
@media (max-width: 480px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        margin: 10px 0;
    }
}


/* Estilo para tablet */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        margin: 10px 0;
    }

    .contenedor {
        flex-direction: column;
    }

    .carrusel {
        width: 100%;
        height: 200px;
    }

    .texto {
        width: 100%;
        text-align: center;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        margin: 10px 0;
    }

    .contenedor {
        flex-direction: column;
    }

    .carrusel {
        width: 100%;
        height: 300px;
    }

    .texto {
        width: 100%;
        text-align: center;
    }
}